<!doctype html>
<head>
	<title>Dog Breed Classifier - Analyzing</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>

<div id="preloader">
	<div id="status">&nbsp</div>
	<h1 class="ml13">ANALYZING...</h1>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>

<title>Dog Breed Classifier</title>

<script src="{{url_for('static', filename='main.js')}}"></script>

<script> window.location.replace('/predict/{{filename}}'); </script>