<!doctype html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<title>Dog Breed Classifier - Results</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

{% if is_dog %}
	<div>
		<h3> Based on my knowledge, I can tell that this is a DOG:</h3>
		
		<div>
			<img src="{{url_for('static', filename='uploads/' + filename)}}">
		</div>

		<h3> And to me, it looks like a...</h3>
	</div>
{% elif is_human %}
	<div>
		<h3> Based on my knowledge, I can tell that this is a HUMAN</h3>

		<div>
			<img src="{{url_for('static', filename='uploads/' + filename)}}">
		</div>

		<h3> But I think it looks like a....</h3>
	</div>
{% else %}
	<div>
		<h3> Unfortunately, I can't see a DOG or a HUMAN here, please try another image</h3>
	</div>
	
	<div>
		<img src="{{url_for('static', filename='uploads/' + filename)}}">
	</div>

{% endif %}

<br>

{% if is_dog %}
	<div>
		<h2> {{breed}}! </h2>
		<div>
			<img src="{{url_for('static', filename=final)}}">
		</div>
	</div>
{% elif is_human %}
	<div>
		<h2> {{breed}}! </h2>

		<div>
			<img src="{{url_for('static', filename=final)}}">
		</div>
	</div>
{% endif %}

<br><br>

<form method="post" action="/" enctype="multipart/form-data">
	<input type="submit" value="Try again">
</form>