<!doctype html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<title>Dog Breed Classifier</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


	<br>
	<h1> Dog Breed Classifier with Machine Learning</h1>
		
	<br>

		<p> 
			This web app runs my final project for Udacity's Machine Learning Engineer Nanodegree. 
		</p>
		
		<p>
			Upload a dog image and the Machine Learning Model will try to classify it's breed.
			If it's a human	image, it will say which dog breed the person resembles the most. The model has an 88% accuracy.
		</p>

	<br>

		<h2> Select an image to upload </h2>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p2>
			<input type="file" name="file" autocomplete="off" required>
		</p2>
    </dl>
    <p3>
		<input type="submit" value="Upload">
	</p3>
	
</form>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}

<br>

<form method="post" action="/loading_model/{{filename}}" enctype="multipart/form-data">
	<input type="submit" value="Predict Breed!">
</form>

<br><br>

<p5> <a href="https://github.com/andrevargas22"> Source Code </a></p5>
<br>
<p6> <a href="http://127.0.0.1:5000/report">How this was done?</a></p6>
<br>
<p6> Author: <a href="https://www.linkedin.com/in/andrevargas22/">André Vargas</a></p6>