h1 {
    font-size: 30px;
    color: red;
}

h3 {
    font-size: 20px;
    }

p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

#upload {
    width: 200px;
    height: auto;
}

#report{
    height: auto;
}

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("lalala.gif");
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -400px;
}

.ml13 {
    color: red;
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: 100px;
  }

  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }

p5 {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

p6 {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}